*,
*::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, Helvetica Neue, sans-serif;
    margin: 0;
    line-height: 2em;
    padding: 12px;
    color: #333;
    background: linear-gradient(135deg, #ffded1 0%, #ffded1 50%, #ffc5af 50%, #ffc5af 100%);
    background-size: cover;
    background-repeat: no-repeat;

}
/*
.wrapper {height: 100%; overflow: auto; }
*/

a {
    text-decoration: none;
    color: #333;
    border-bottom: 3px solid #0068FF;
}
a:hover {
    color: #0068FF;
}
p {
    font-weight: 200;
    font-size: 20px;
}
.name {
    font-family: Montserrat;
    text-transform: uppercase;
    font-weight: 900;
    padding: 30px 40px;
    border: 4px solid #0068FF;
    color: #0068FF;
    display: inline-block;
    margin: 80px 0 50px;
}
.container {
    margin: 0 auto;
    width: 80%;
    /*padding: 120px 12px 50px;*/
}

.languages__list {
    margin: 0;
    padding: 0;
}

.languages__list li {
    padding: 0;
    margin: 0
}

.meta {
    text-transform: uppercase;
    font-family: Arial, Courier New, Source Sans Pro, sans-serif;
    font-size: 10px;
    letter-spacing: .15em;
}
.meta a:hover {
    color: #333;
}
.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.inline-list li {
    display: inline-block;
}
footer{
    width: 100%;
    text-align: center;
    transform-origin: left;
    transform: translate(100%,0%) rotate(-90deg)
}
footer a {
    border: none;
    color: #0068FF;
}
/* Contents */

main {
    padding: 1em;
    margin-top: 1em;
    position: relative;
}
main::after {
    content: '\2A55\2A55\2A55\2A55';
    position: absolute;
    bottom: 60px;
    right: 10px;
    color: #0068FF;
    font-size: 44px;
}

/* Mobile */
@media screen and (max-width:768px){
    .name {
        padding: 12px;
        margin: 20px 0;
    }
    main::after{
    display: none;
}
}