@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

* {
    font-family: 'Raleway', sans-serif !important;
}


body,html {
    padding:0;
    margin:0;

    background-color:whitesmoke;
}
a {
    color:dodgerblue;
}
.page__heading,
.page__description {
    margin:0;
    padding:2rem;
    font-weight: 400;
    background-color:#001;
    color:white;
}

.page__description {
    font-weight: 300;
    padding:0rem 2rem 2rem 2rem;
}

.languages{
    display:grid;
    padding:0;
    margin:0.25rem 0rem;
    list-style-type: none;
   
    grid-template-columns: repeat(16,1fr);
    grid-auto-rows: 2rem;
}

.languages a {
    text-decoration: none;
    color:white;
}


.languages li {
    box-sizing: border-box;
    height:2rem;
    line-height:1.5rem;
    border-bottom:1px solid white;
    grid-column: 1 / 4 ;
    text-transform: uppercase;
    
    background-color:#001;
    padding:0.25rem;
    padding-left: 0.75rem;
}


.languages li:hover {
    background-color: blanchedalmond;
}

.languages li:hover a {
    color:#001;
}

footer {
    padding:3rem;
    font-size:1rem;
    color:white;
    text-transform: uppercase;
    background-color: #001;
    letter-spacing: 4px;
}

footer a {
    text-decoration: none;
}